.ext{
    width:1169px;
    height:1000px !important;
	height: 100%;
}

.ext h1{
	font-weight: bold;
}

.ext.container{
	border:0;
}

.ext > .row{
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.logo{
    border-left:1px solid #000;
    border-right:1px solid #000;
    text-align: center;
    padding-top:18px;
}

.header-block > div{
    margin-top:30px;
}

.header-phones{
    font-size:14px;
}

.header-addr, .header-phones{
    /*padding-top:40px;*/
    line-height: 1.25em;
}

.header-addr, .header-phones span{
    font-size:18px;
}

.header-addr{
    padding-left:55px;
    height:160px;
}

.header-phones > div{
    margin-top: 10px;
    font-size:14px;
}

#call_order_link{
    margin:0 !important;
    width:150px; !important;
}

.head_search_frm{
    left: 55px;
}

.addr{
    margin-top: 17px;
    font-size: 18px;
}

.menu-block{
    padding:0;
}

.menu a{
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
    padding:30px 20px;
    display: inline-block;
}

.menu a.active{
	color:#c3325f;
}

.auth-title{
	font-size: 26px;
	padding:15px;
}

.auth a, .auth span, .auth button{
    /*text-transform: lowercase;*/
    font-size: 14px;
    color: #000;
    padding:0 10px 0 0;
    display: inline-block;
    text-decoration: underline;
}

.auth span{
    text-decoration: none;
}

.auth span.role{
	position: absolute;
	top: -20px;
}

.auth a:hover, .auth button:hover{
    text-decoration: none;
}

.role{
    text-transform: lowercase;
    color: #c3325f !important;
}

.site-signup{
    border-right:1px solid #000;
}

/* статус в заголовке */
span.status{
	font-weight: bold;
	display:inline-block;
	float:right;	
	text-transform: lowercase;
	color: #CC3333;
}
span.status > strong{
	text-transform: none;
	color: #000;
}
/* /статус в заголовке */

/* таблица просмотра */
.order-view-table tr{
	margin: 5px 0;
}

.order-view-table td{
	padding: 10px 10px 10px 0;
}

.order-view-table td.title{
	padding-bottom: 0;
}

.order-view-table td.cost-title{
	font-weight: bold;
	text-transform: uppercase;
}

.order-view-table td.cost-title .currency{
	text-transform: lowercase;
}

.bg-gray  > div{
	background: #EBEBEB;
	padding:10px !important;
}

.product-img img{
	max-width: 100%;
}

span.sum{
	color: #CC3333;
}

.blank-link a{
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	text-decoration: underline;
	font-size:12px;
	font-weight: bold;
}

.blank-link img{
	float:left;
}
/* /таблица просмотра */

/* кнопки */
.ext-btn{
	border-radius: 0;
	background-color: #bfa96f;
	border: 0;
	padding: 4px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	width: 225px;
	color: #fff;
	text-decoration:none;
	display: inline-block;
	text-align: center;
	margin: 5px 10px 5px 0;	
}

.ext-btn:hover, .ext-btn:active, .ext-btn:focus{
	/*background-color: red;*/
	color: #fff;
	text-decoration:none;
}

.ext-btn.red{
	background: #CE4C3E;
}
.ext-btn.black{
	background: #000;
}
.ext-btn.gray{
	background: #AAAAAA;
}

p.alert{
	margin:15px 0;
}
/* /кнопки */

/* мои заказы */
.user-info a{
	color: #CE4C3E;
	text-transform: lowercase;
}

span.status a{
	font-weight: bold;
	display:inline-block;
	float:right;
	text-transform: uppercase;
	color: #CC3333;
	font-size:16px;
	margin-top:12px;
}

.log{
	margin-top: 20px;
}

.icon-delete{
	display: inline-block;
	padding:10px;
}

.orders-nav{
	/*padding:20px 0;*/
}

.orders-nav a{
	display: inline-block;
	padding: 20px 20px 20px 0;
	color: #c33;
	text-decoration: underline;
}

.orders-nav a.active{
	font-weight: bold;
	text-decoration: none;
}
/* /мои заказы */

/* произвольный заказ */
.datepicker-field{
	padding: 0 0 15px 0;
}

.datepicker-field label{
	float: left;
	margin-top: 5px;
}

.ui-datepicker-trigger{
	float: left;
	margin-left: 15px;
}

.hasDatepicker{
	width: 100px;
	margin-top: 4px;
	margin-left: 10px;
	border: 0;
}

.product-img-other{
	margin-top: 5px;
}

.product-img-other div{
	width: 33.3%;
	float: left;
	text-align: center;
}

.product-img-other div:first-child{
	text-align: left;
}

.product-img-other div:last-child{
	text-align: right;
}

.product-img-del{
	display: inline-block;
	text-align: center;
	width: 100%;
}
/* /произвольный заказ */

tr.new{
	font-weight: bold;
}


.footer{
    /*border-bottom: 1px solid #000;*/
	width: 100%;
	margin: 0;
}

